<app-header></app-header>
<app-burger-menu></app-burger-menu>
<div class ="container d-flex justify-content-center align-items-center text-align-center">
  <div class="details container d-flex">
    <div class="photo">
      <img ngSrc="assets/pictures/photo-cv.png" width="500" height="600">
    </div>
    <div class="details-paragraph container d-flex flex-direction-column align-items-center text-align-center ">
      <h1 class="title">PORTFOLIO</h1>
      <!-- <h2 class="name">Nahoaniko Irina</h2>
      <h3 class="job-title">Full-stack web developer</h3>
      <h4>About me</h4> -->
      <p class="details-text">Entre les lignes de code et traits d'inspiration, je conjugue créativité artistique et rigueur technique. Je suis à la recherche d'une alternance où je pourrai allier logique, sens du détail et imagination pour donner vie à des projets innovants.</p>
    </div>
  </div>
</div>
<app-footer></app-footer>
